# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
bomberman/target/
Designs/how_to_play.ai
Designs/startmenu.ai
bomberman/src/main/resources/fonts/Pixel_NES.otf
bomberman/src/main/resources/fonts/Pixel_NES.ttf
Designs/next_level.ai
