# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
bomberman/target/
bomberman/src/main/resources/fonts/Pixel_NES.otf
bomberman/src/main/resources/fonts/Pixel_NES.ttf
/Designs
bomberman/src/main/resources/UMLdiagrams/enemies.svg
bomberman/src/main/resources/UMLdiagrams/entities.svg
bomberman/src/main/resources/UMLdiagrams/items.svg
.gitignore
bomberman/src/main/resources/UMLdiagrams/movingentities.svg
bomberman/src/main/resources/UMLdiagrams/game.svg
.vscode/launch.json
